<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.romaneekang.boss.mapper.DicPayWayMapper">

    <resultMap id="BaseResultMap" type="com.romaneekang.boss.domain.DicPayWay">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="payWayCode" column="pay_way_code" jdbcType="VARCHAR"/>
            <result property="payWayName" column="pay_way_name" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pay_way_code,pay_way_name,
        remark
    </sql>
    <select id="selectDicList" resultType="com.romaneekang.boss.mvc.model.vo.DicItem">
        select pay_way_code as code,pay_way_name as label from dic_pay_way order by pay_way_code
    </select>
</mapper>
