<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.romaneekang.boss.mapper.PmsMenuMapper">

    <resultMap id="BaseResultMap" type="com.romaneekang.boss.domain.PmsMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="isLeaf" column="is_leaf" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="SMALLINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,is_leaf,level,
        parent_id,number,name,
        url,remark,status,
        edit_time
    </sql>
</mapper>
