<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.romaneekang.boss.mapper.TradeOrderMapper">

    <resultMap id="BaseResultMap" type="com.romaneekang.boss.domain.TradeOrder">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userNo" column="user_no" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userOrderNo" column="user_order_no" jdbcType="VARCHAR"/>
            <result property="txNo" column="tx_no" jdbcType="VARCHAR"/>
            <result property="orderAmount" column="order_amount" jdbcType="DECIMAL"/>
            <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
            <result property="payProductCode" column="pay_product_code" jdbcType="VARCHAR"/>
            <result property="payWayCode" column="pay_way_code" jdbcType="VARCHAR"/>
            <result property="payWayName" column="pay_way_name" jdbcType="VARCHAR"/>
            <result property="payTypeCode" column="pay_type_code" jdbcType="VARCHAR"/>
            <result property="payTypeName" column="pay_type_name" jdbcType="VARCHAR"/>
            <result property="pageurl" column="pageUrl" jdbcType="VARCHAR"/>
            <result property="notifyurl" column="notifyUrl" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_no,user_name,
        user_order_no,tx_no,order_amount,
        order_time,pay_product_code,pay_way_code,
        pay_way_name,pay_type_code,pay_type_name,
        pageUrl,notifyUrl,remark,
        edit_time,status
    </sql>
</mapper>
